<div *ngIf="post$ | async as post">
  <div class="hero bg-no-repeat bg-cover bg-center bg-fixed" style="background-image: url({{post.cover_photo}})">
    <div class="hero-overlay bg-opacity-70"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{{post.title}}</h1>
            <p class="mt-6 text-lg leading-8 text-gray-300">{{post.description}}</p>
              <!-- use component here for author layout -->
            <div class="relative mt-8 flex justify-center gap-x-4">
              <img src={{post.author.profile_picture}} alt="profile picture" class="h-12 w-12 rounded-full bg-gray-50">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-white">
                      <span class="absolute inset-0"></span>
                        {{post.author.forename}} {{post.author.surname}}
                  </p>
                  <p class="text-gray-300 text-left">{{post.author.username}}</p>
                </div>
              </div>
          </div>
          <p class="mt-5 text-white">{{post.date}}</p>        
        </div>
      </div>
  </div>

  <div class="w-full my-20 flex justify-center">
    <p class="max-w-2xl text-xl">{{post.text}}</p> 
  </div>

  <div class="hero bg-base-200 py-20">
    <div class="hero-content flex-row">
      <div>
        <h1 class="text-5xl font-bold">City Information</h1>
        <p class="py-6">City: {{post.city.city}}</p>
        <p class="py-6">Country: {{post.city.country}}</p>
        <p class="py-6">Population: {{post.city.population}}</p>
      </div>
      <google-map [center]="getCentre(post.city.lat, post.city.lng)" [zoom]="12"/>
    </div>
  </div> 

  <div class="flex flex-col justify-center mt-10 align-center">
    <div class="flex flex-row justify-center">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl px-10 text-center">Comments</h1>  
      <button class="btn btn-ghost" (click)="openModal()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>         
      </button>
      <label class="swap swap-rotate items-center">
          <input type="checkbox" (click)=swapSortDirection()/>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="swap-off fill-current w-10 h-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m0 0l6.75-6.75M12 19.5l-6.75-6.75" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="swap-on fill-current w-10 h-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75" />
          </svg>
      </label>
    </div>
  

  <p *ngIf="comments.length == 0" class="flex justify-center p-10">No comments yet!</p>

  <div *ngFor="let comment of comments" class="flex justify-center">
    <app-comment-box [comment]="comment" (commentDeleted)="getCommentsForPost(postID)" [postID]="postID"></app-comment-box>
  </div> 
  
  <button *ngIf="displayViewMoreButton()" (click)="ViewMorePosts()" class="text-lg font-semibold flex justify-center m-10">
    View more...
  </button>
</div>
</div>