<form>
    <input type="text" placeholder="Filter by city" />
    <button class="primary" type="button">Search</button>
    <div class="dropdown">
        <div tabindex="0" role="button" class="btn m-1">Sort by</div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            <div *ngFor="let item of sortFunctions">
                <li (click)="OnChangeSort(item.toLowerCase())"><a>{{item}}</a></li>
            </div>
        </ul>
    </div>
</form>

<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-flow-row auto-rows-max">
    <app-post-card 
      *ngFor="let postCard of posts | async"
      [postCard]="postCard">
    </app-post-card>
</div>

<button (click)="ViewMorePosts()" class="btn btn-active btn-primary">
    View more
</button>