<div class="relative flex flex-col items-center justify-center h-screen overflow-hidden">
    <div class="w-full p-6 bg-white border-t-4 border-gray-600 rounded-md shadow-md border-top lg:max-w-lg">
        <h1 class="text-3xl font-semibold text-center text-gray-700">Log in</h1>
        <form [formGroup]="logInForm" (submit)="handleLogin()"class="space-y-4">
            <div>
                <label class="label">
                    <span class="text-base label-text">Username</span>
                </label>
                <input formControlName="username" type="text" placeholder="Enter Username" class="w-full input input-bordered" />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Password</span>
                </label>
                <input formControlName="password" type="password" placeholder="Enter Password"
                    class="w-full input input-bordered" />
            </div>
            <a href="signup" class="text-xs text-gray-600 hover:underline hover:text-blue-600">Sign up</a>
            <div>
                <button (click)="handleLogin()" class="btn btn-block">Login</button>
            </div>
        </form>
    </div>
</div>
