<div class="hero bg-no-repeat bg-cover bg-center bg-fixed" style="background-image: url(../../assets/background.jpg);">
  <div class="hero-overlay bg-opacity-70"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Desk Detours</h1>
          <p class="mt-6 text-lg leading-8 text-gray-300">Find city snapshots written by your fellow employees or write up about your own experiences!</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <input [(ngModel)]="title" type="text" placeholder="Find post by title" class="input input-bordered w-full max-w-xs text-black" />
            <a routerLink="gallery" [queryParams]="{title: title}" class="text-sm font-semibold leading-6 text-white">Search <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </div>
</div>
  
<div class="mt-10 ml-20">
  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
    Most recent blog posts
  </h2>
</div>

<div class="carousel rounded-box relative w-full">
  <div class="carousel-item pl-10" *ngFor="let postCard of posts | async">
    <app-post-card 
      [postCard]="postCard">
    </app-post-card>
  </div> 
</div>

<a routerLink="gallery" class="text-lg font-semibold leading-6 text-gray-900 flex justify-center m-10">
  Explore more
  <span aria-hidden="true">→</span>
</a>