<div class="flex flex-col justify-center items-center h-screen">
  <h1>{{title}}</h1>
  <form [formGroup]="postForm" (submit)="addPost()">
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title" />
      
      <label for="cover-image">Cover Image</label>
      <input id="cover-image" type="text" formControlName="coverImage" />
      
      <label for="description">Description</label>
      <input id="description" type="text" formControlName="description" />
      
      <label for="text">Text</label>
      <input id="text" type="text" formControlName="text" />
      
      <label for="country">Country</label>
      <ng-select id="country" [(ngModel)]="country" [ngModelOptions]="{standalone: true}" (clear)="checkForCountry()" (close)="checkForCountry()" placeholder="Country" [items]="countries$ | async"></ng-select>
      
      <label for="city">City</label>
      <ng-select id="city" [(ngModel)]="city" [ngModelOptions]="{standalone: true}" (clear)="checkForCountry()" [disabled]="isCitiesFilterDisabled" placeholder="{{cityPlaceholder}}" [items]="cities$ | async"></ng-select>
    
      <button type="submit" class="primary">{{title}}</button>
  </form>
</div>